<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bon de commande</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha384-... (integrity hash)" crossorigin="anonymous">

  <style>
    @page {
      size: A4;
      margin: 0;
    }

    body {
      font-family: Arial, sans-serif;

    }

    h1 {
      text-align: left;
    }

    .section {
      margin-bottom: 30px;
    }

    .section-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #4ca4fc;
    }

    .section-title2 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .section-content {
      font-size: 14px;
    }

    .total {
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      background-color: rgb(228, 235, 248);
      border-top: solid 2px black;
    }

    .highlight {
      background-color: #0d2242;
      color: white;
    }

    .cdv {
      background-color: rgb(243, 243, 243);
      font-weight: 500;
      font-size: 12px;
    }

    .footer {
      margin-top: 20px;
      font-size: 12px;
      border-bottom: 2px solid black;
    }

    .footer2 {
      font-size: 12px;
      margin-top: 40px;
      border-bottom: 2px solid black;
    }

    #printableArea {

      margin: 55px;
    }

    /*
    @media print {
      header,
      footer,
      .sidebar {
        display: none;
      }
    */


    .section-title {
      font-size: 16px;
      font-weight: bold;
    }

    .section-content {
      font-size: 12px;
    }

    .total {
      font-size: 16px;
    }

    .highlight {
      background-color: transparent;
      color: black;
    }

    .payerboutton {
      background-color: yellow;
    }
  </style>
</head>
<nav class="bg-blue-800 py-4">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between">
      <h1 class="text-white text-xl"><a href="/">AdsRank</a></h1>
      <ul class="flex space-x-4">
        <li><a href="/" class="text-gray-300 hover:text-white">Accueil</a></li>
        <!-- <li><a href="/dashboard" class="text-gray-300 hover:text-white">Tableau de bord</a></li> -->
    </div>
  </div>
</nav>

<body class="">
  <div class="flex h-screen">
    <!-- Barre de navigation latérale -->
    <div class="bg-blue-50 w-1/10" style="width: 80%;">
      <!-- Contenu de la barre de navigation -->

      <div class="p-4">
        <h1>Paramètre du Bon de commande</h1>
        <button id="modifierBtn"
          class="bg-blue-400 text-white py-2 px-4 rounded hover:bg-blue-300">Modifier</button><br>
        <!-- <form id="formulaire" action="/submit" method="post" class="space-y-4 hidden"> #méthode reservé à la v.2#-->
          <form id="formulaire" action="/confirmation" method="post" class="space-y-4 hidden" style="margin-top: 50px;">
          <label for="raisonSocial" class="block ">Raison Social :</label>
          <input type="text" id="raisonSocial" name="raisonSocial" value="<%= raisonSocial %>"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500 text-gray-900">

          <label for="nom" class="block ">Nom :</label>
          <input type="text" id="nom" name="nom" value="<%= nom %>"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500 text-gray-900">

          <label for="telephone" class="block ">Téléphone :</label>
          <input type="tel" id="telephone" name="telephone" value="<%= telephone %>"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500 text-gray-900">

          <label for="email" class="block ">Email :</label>
          <input type="email" id="email" name="email" value="<%= email %>"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500 text-gray-900">

          <label for="url" class="block ">URL :</label>
          <input type="text" id="url" name="url" value="<%= url %>"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500 text-gray-900">

          <div class="relative z-0 w-full mb-6 group">
            <label for="client" class="block ">Agent</label>
            <select name="client" id="client"
              class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500 text-gray-900"
              required>
              <option value="" disabled selected hidden></option>
              <option value="Mavreen BASSIN-mavreen.bassin@adsrank.fr-01 41 10 05 39">Mavreen BASSIN</option>
              <option value="Michael Bitton-michael.bitton@adsrank.fr-01 41 10 05 45">Michael Bitton</option>
              <option value="Xavier Capitaine-xavier.capitaine@adsrank.fr-01 76 46 07 37">Xavier Capitaine</option>
              <option value="Ilane Cohen-ilane.cohen@adsrank.fr-01 76 42 02 70">Ilane Cohen</option>
              <option value="Nicolas Mallet-nicolas.malet@adsrank.fr-07 56 79 59 43">Nicolas Mallet</option>
              <option value="Teddy Laniel-teddy.martins@adsrank.fr-01 76 46 07 26">Teddy Laniel</option>
              <!-- Ajoutez plus d'options ici -->
            </select>
          </div>

          <!-- <label for="client" class="block text-white">Client :</label>
        <input type="text" id="client" name="client" value="<%= client %>" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500 text-gray-900"> -->

          <label for="montant" class="block">Montant H.T :</label>
          <input type="number" id="montant" name="montant" value="<%= montant %>"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500 text-gray-900">
          <button id="submit" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600">Valider les
            modification</button>
          <!-- <input type="submit" value="Valider les modification" class="bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700"> -->
        </form>
        <br>
        <button class="bg-white border border-red-500 text-red-500 py-2 px-4 rounded hover:bg-red-500 hover:text-white" onclick="downloadPDF()">
          Télécharger le PDF
      </button>

        <!-- <button class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600"
          onclick="enregistrerFormulaire('formulaire')">Enregistrer</button>
        <button class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600" action="/submit">Enregistrer
          data</button> -->
      </div>
      <!-- <button class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600" onclick="printDiv('printableArea')">Imprimer</button> -->

      <!-- <button type="submit" class="bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700">Envoyer</button> -->
    </div>
    <div id="printableArea">

      <!-- Espace de contenu -->
      <div class="flex-grow" style="width: 100%;">
        <!--Page 1/2-->
        <!-- <img src="https://adsrank.fr/wp-content/uploads/2023/03/logo_adsrank_mail.png" style="width: 200px; height: auto;" alt="Logo" class="mb-8"> -->
        <!-- Test image téléchargement PDF -->
        <img style="width: 200px; height: auto; margin-bottom: 50px; display: inline-block;" alt="Logo" class="mb-8" src="/images/logo_adsrank_bdc.png" alt="Description de l'image">
        <div style="display: inline-block; margin-left: 40%;">
          <img src="/images/PartnerBadge.png" style="width: 70px;">
        </div>
        <div style="display: inline-block; margin-left: 50px;">
          <img src="/images/Google_Ads_logo.svg.png" style="width: 50px;">
        </div>
          <div class="section">
          <div class="section-title">Bon de commande</div>
          <div class="section-content">
            <p>Référence : <%= orderNumber %>, Date : <%= currentDate %>
            </p>
          </div>
        </div>

        <div class="section flex">
          <div class="w-1/2" style="width: 70%;">
            <div class="section-title">Votre contact</div>
            <div class="section-content">
              <p>Nom : <%= commercialNom %>
              </p>
              <p>Email : <%= commercialEmail %>
              </p>
              <p>Téléphone : <%= commercialTelephone %>
              </p>
            </div> <!-- Remplacer les points de suspension par les coordonnées de contact -->
          </div>
          <div class="w-1/2">
            <div class="section-title">Vos coordonnées</div>
            <div class="section-content">
              <p>Raison Social : <%= raisonSocial %>
              </p>
              <p id="nom">Nom : <%= nom %>
              </p>
              <p>Téléphone : <%= telephone %>
              </p>
              <p>Email : <%= email %>
              </p>
              <p>URL : <%= url %>
              </p>
            </div> <!-- Remplacer les points de suspension par les coordonnées du client -->
          </div>
        </div>

        <div class="section">
          <div class="section-title">Votre offre Google Ads Booster</div>
          <p class="flex items-center section-title">
            <i class="fa fa-check-square" aria-hidden="true" style="margin-right: 5px;"></i>
            <!-- <img src="https://adsrank.fr/wp-content/uploads/2023/06/case-a-cocher-bleu.png" class="h-6 w-6 mr-2"> -->
            Gestion et optimisation de votre campagne Google Ads
          </p>
          <div class="section-content">
            <table class="w-full border-collapse">
              <tr>
                <th class="border px-4 py-2 highlight" colspan="2"
                  style="color: azure; background-color: rgb(12, 12, 73)">Votre offre</th>
              </tr>
              <tr>
                <td class="border px-4 py-1" style="width: 80%;">Ciblage des mots clés les plus stratégiques</td>
                <td class="border px-4 py-1" style="width: 20%; text-align: right">Inclus</td>
              </tr>
              <tr>
                <td class="border px-4 py-1" style="width: 80%;">Rédaction &amp; optimisation des annonces</td>
                <td class="border px-4 py-1" style="width: 20%; text-align: right">Inclus</td>
              </tr>
              <tr>
                <td class="border px-4 py-1" style="width: 80%;">Modification illimitée de vos annonces ou mots clés
                </td>
                <td class="border px-4 py-1" style="width: 20%; text-align: right">Inclus</td>
              </tr>
              <tr>
                <td class="border px-4 py-1" style="width: 80%;">Niveau d’accompagnement Pro<br>> Expert dédié à votre
                  entreprise avec suivi personnalisé</td>
                <td class="border px-4 py-1" style="width: 20%; text-align: right">Inclus</td>
              </tr>
              <tr>
                <td class="border px-4 py-1" style="width: 80%;">Rapport mensuel détaillé</td>
                <td class="border px-4 py-1" style="width: 20%; text-align: right">Inclus</td>
              </tr>
              <tr>
                <td class="border px-4 py-1" style="width: 80%;">Diffusion et optimisation de vos campagnes au quotidien
                </td>
                <td class="border px-4 py-1" style="width: 20%; text-align: right">Inclus</td>
              </tr>
              <tr>
                <td class="border px-4 py-1" style="width: 80%;">Offre sans engagement, résiliable à tout moment</td>
                <td class="border px-4 py-1" style="width: 20%; text-align: right">Inclus</td>
              </tr>
              <tr>
                <td class="border px-4 py-1" style="width: 80%;">Création du compte et frais d’ouverture de campagne
                </td>
                <td class="border px-4 py-1" style="width: 20%; text-align: right">Inclus</td>
              </tr>
              <tr>
                <td class="border px-4 py-1" style="width: 80%;">Frais de dossier offert</td>
                <td class="border px-4 py-1" style="width: 20%; text-align: right">Inclus</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="section flex">
          <div class="w-1/2" style="width: 50%;"> <!--Taille à revoir pour moalite et prix-->
            <div class="section-title">Modalité de règlement</div>
            <div class="section-content">
              <p class="flex items-center">
                <!-- <img src="https://adsrank.fr/wp-content/uploads/2023/06/case-a-cocher.png" class="h-6 w-6 mr-2"> -->
                <i class="fa fa-check-square" aria-hidden="true" style="margin-right: 5px;"></i>
                Prélèvement automatique
              </p>

              <button class="bg-yellow-300 text-black px-4 py-2 rounded payerboutton"
                style="margin-top:10px; padding: 10px 40px 10px 40px">
                <a href="https://pay.gocardless.com/billing/static/collect-customer-details?id=BRF000GJ8C20A11DBD44397Q6BTX7XR1&initial=%2Fcollect-customer-details">
                  <i class="fas fa-lock mr-2"></i>
                  Payer
                </a>
              </button>
            </div>
          </div>
          <div class="w-2/2" style="width: 50%;">
            <div class="section-content">
              <table class="w-full border-collapse" style="text-align: right">
                <tr>
                  <td class="px-4 py-1">Sous-total / mois</td>
                  <td class="px-4 py-1" style="width: 40%;">
                    <%= montant %> €
                  </td> <!-- Remplacer les points de suspension par le montant correspondant -->
                </tr>
                <tr>
                  <td class="px-4 py-1">TVA 20% / mois</td>
                  <td class="px-4 py-1">
                    <%= vat.toFixed(2) %> €
                  </td> <!-- Remplacer les points de suspension par le montant correspondant -->
                </tr>
                <tr>
                  <td class="px-4 py-1">Total / mois</td>
                  <td class="px-4 py-1">
                    <%= totalAmount.toFixed(2) %> €
                  </td> <!-- Remplacer les points de suspension par le montant correspondant -->
                </tr>
                <tr class="total">
                  <td class="px-4 py-1">Net à payer / mois</td>
                  <td class="px-4 py-1">
                    <%= monthlyPayment.toFixed(2) %> €
                  </td> <!-- Remplacer les points de suspension par le montant correspondant -->
                </tr>
              </table>
              <!-- <p class="text-2xl font-bold mt-4">NET À PAYER / MOIS</p> -->
            </div>
          </div>
        </div>
        <div class="footer">
          <p style="font-weight: 600; font-size:14px; padding-bottom:10px;">Cette proposition commerciale est valable 1
            mois à compter de sa date d’émission.<br>Passé ce délai, la présente proposition devient caduque.</p>
        </div>
        <div class="flex justify-between mt-4 ">
          <div class="w-1/2" style="width: 70%;">
            <p style="font-size: 12px; font-weight: light">AdsRank SAS, 29 rue Bichat 75010 Paris - RCS Paris 850 136
              375<br>N° de TVA intra-communautaire : FR68850136375<br>Page 1/2</p>
          </div>
          <div class="w-1/2 border-2 border-black" style="width: 40%; padding:5px;">
            <p>Paraphe<br><br></p>
          </div>
        </div>

        <!--Page 2/2-->
        <div class="sectioncdv" style="margin-top: 100px;">
          <div class="section-content">
            <table class="w-full border-collapse">
              <tr>
                <th class="border px-4 py-2 cdv section-title2 " style="text-decoration: underline ; padding-top: 15px;"
                  colspan="2">CONDITIONS GENERALES DE VENTE</th>
              </tr>
              <tr>
                <td class="border px-4 py-2 cdv" style="width: 100%; padding-bottom: 15px;">1) Le bon de commande signé
                  par le client accepte le plein droit à l'adhésion des présentes conditions générales.
                  <br>2) Le choix des offres est pris par un conseiller de la Société ADSRANK par courrier, téléphone,
                  mails ou en la présence de la société cliente. Le signataire du présent contrat reconnaît et déclare
                  formellement avoir tout pouvoir pour engager la personne ou l'entreprise bénéficiaire de cet achat
                  d'espace qui sera tenu à son paiement.
                  <br>3) Le paiement de l'annonce doit se faire dans les 5 jours ouvrables après réception de ce
                  contrat. Ceci par les moyens décrits ci-dessus (prélèvement automatique). Tout incident et/ou retard
                  de paiement à l'échéance entraîneront de plein droit l'application d'une pénalité de retard égale à 5
                  % par mois des sommes due, ainsi que la facturation de l'ensemble des frais financiers et frais de
                  recouvrement correspondants, sans préjudice de la suspension et/ou de la résiliation du présent
                  contrat. Si le client ne règle pas entièrement sa facture aux échéances prévues, ADSRANK se réserve le
                  droit d'arrêter les services vendus sans délais à partir du premier rappel effectué sous forme écrite
                  (email ou lettre). L'offre annoncé sur ce contrat a une durée limitée dans le temps de 1 mois après
                  réception de celui-ci. Au-delà le conseiller devra effectuer une vérification et l'ajuster si besoin.
                  <br>4) Le client affirme avoir pris connaissance du système de fonctionnement Adwords de Google au PPC
                  (coût par clic).
                  Celui-ci pourra à tout moment demander l'arrêt de sa campagne d'achat de clics, sans demande de
                  remboursement des frais de gestions occasionné par la campagne.
                  <br>(5) Le client a bien pris connaissance que ADSRANK ne s'est jamais engagée à lui garantir un
                  positionnement en continu sur Google ainsi qu'une garantie de positionnement « fixe ». Le client
                  affirme avoir compris que l'AdWords
                  Booster n'engage aucun résultat au niveau des clics ou chiffre d'affaires sur sa campagne. Les frais
                  versés pour l'optimisation AdWords seront utilisés par ADRANK pour assurer, à l'aide de ses experts et
                  plateformes, les services mentionnés sur le contrat ainsi que les frais qui pourront être générés par
                  les clics. Le client s'engage à ne pas réclamer de remboursement au même titre que ADSRANK ne
                  réclamera pas au client de payer les frais supplémentaires dans le cas où les coûts réels Adwords
                  aurait été supérieurs aux frais payés par le client.
                  <br>6) Une période de 15 jours en début de campagne est à prévoir pour l'optimisation par les experts
                  ADSRANK afin de stabiliser la campagne. Aucune réclamation ne sera prise en compte durant cette
                  période.
                  <br>7) Le présent contrat est sans engagement et résiliable à tout moment par simple voie postale avec
                  AR. Tout mois démarré sera dû dans son intégralité et toute demande de résiliation rentrera en vigueur
                  à la fin du mois en cours.
                  <br>8) Le client accepte par la signature de ce bon de commande de recevoir les newsletters ou offres
                  promotionnelles
                  de ADSRANK
                  <br>9) Le client affirme avoir lu l'ensemble des conditions générales de vente indiquées à l'adresse:
                  <a href="http://adsrank.fr/cev/">https://adsrank.fr/cev/</a>
                </td>
              </tr>
            </table>
            <p style="margin-top: 20px; font-size: 12px;">Le Client reconnaît que l'envoi du présent Bon de Commande par
              télécopie ou mail a la même valeur que celle
              accordée à l'original. Le présent Bon de Commande est formé à compter de sa date de signature et prévaut
              sur les
              conditions générales et/ou particulières du Client, les correspondances et/ou les propositions
              commerciales
              antérieures relatives au même objet que le présent Bon de Commande. Toute modification manuscrite des
              documents contractuels est considérée comme nulle.<br><br>
              Le signataire du présent Bon de Commande reconnaît avoir pris connaissance et approuver sans réserve
              l’ensemble des documents contractuels désignés ci-avant.</p>
          </div>

          <div class="flex justify-between mt-8 ">
            <div class="w-1/2 border border-black" style="width: 48%; padding:10px; font-size: 12px;">
              <p class=""><i>Cadre réservé à AdsRank</i></p>
            </div>
            <div class="w-1/2 border border-black" style="width: 48%; padding:10px; font-size: 12px;">
              <p class=""><strong>Cachet et signature du client</strong><br></p>
              <p class=""><i>Avec la mention "Lu et approuvé"</i><br><br><br><br></p>
              <p class="">Le : ___________________________</p>
            </div>
          </div>
        </div>
        <div class="footer2">
        </div>
        <div class="flex justify-between mt-4 ">
          <div class="w-1/2" style="width: 70%;">
            <p style="font-size: 12px; font-weight: light">AdsRank SAS, 29 rue Bichat 75010 Paris - RCS Paris 850 136
              375<br>N° de TVA intra-communautaire : FR68850136375<br>Page 2/2</p>
          </div>
          <div class="w-1/2 border-2 border-black" style="width: 40%; padding:5px;">
            <p>Paraphe<br><br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function getCurrentDate() {
      var date = new Date();
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear();

      // Ajouter un zéro devant les jours/mois < 10
      if (day < 10) {
        day = '0' + day;
      }
      if (month < 10) {
        month = '0' + month;
      }

      var formattedDate = day + '/' + month + '/' + year;
      return formattedDate;
    }

    // JavaScript Bouton Modifier
    document.getElementById('modifierBtn').addEventListener('click', function () {
      var formulaire = document.getElementById('formulaire');
      formulaire.classList.toggle('hidden');
    });


    function downloadPDF() {
      let element = document.getElementById('printableArea');

      // Configuration de la conversion en PDF
      let opt = {
        margin: 0,
        filename: 'bon_de_commande <%= raisonSocial %>-<%= currentDate %>-<%= orderNumber %>.pdf',
        html2canvas: { scale: 2 },
        jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' },
        logo: '/logo_adsrank_bdc.png',
      };

      // Attente de 1 seconde avant la conversion en PDF
      setTimeout(function () {
        // Conversion en PDF
        html2pdf().set(opt).from(element).save();
      }, 1000);
    }

    /*function downloadPDF() {
      let element = document.getElementById('printableArea');
    
      // Convertir l'élément en HTML
      let html = element.innerHTML;
    
      // Créer le document PDF
      let docDefinition = { content: [{ html: html }] };
    
      // Générer le PDF
      pdfMake.createPdf(docDefinition).download('bon_de_commande.pdf');
    }
    */


    function printDiv(divName) {
      let printContents = document.getElementById(divName).innerHTML;
      let originalContents = document.body.innerHTML;

      document.body.innerHTML = printContents;

      window.print();

      document.body.innerHTML = originalContents;
    }

    function enregistrerFormulaire() {
      var formData = {
        raisonSocial: document.getElementById('raisonSocial').value,
        nom: document.getElementById('nom').value,
        telephone: document.getElementById('telephone').value,
        email: document.getElementById('email').value,
        url: document.getElementById('url').value,
        client: document.getElementById('client').value,
        montant: document.getElementById('montant').value
      };

      var jsonData = JSON.stringify(formData, null, 2);

      var fs = require('fs');
      fs.writeFile('data/formulaire.json', jsonData, function (err) {
        if (err) {
          console.error(err);
          return;
        }
        console.log('Le formulaire a été enregistré avec succès.');
      });
    }

    function saveFormDataToJson() {
      const formulaire = document.getElementById('formulaire');
      const formData = new FormData(formulaire);
      const formObject = {};

      for (let [key, value] of formData.entries()) {
        formObject[key] = value;
      }

      const jsonData = JSON.stringify(formObject);

      // Envoie les données JSON au serveur
      fetch('/save-form-data', {
        method: 'POST',
        headers: {
          'Content-Type': '/data/formulaire.json'
        },
        body: jsonData
      })
        .then(response => {
          if (response.ok) {
            // Succès - rediriger vers la page de confirmation
            window.location.href = '/confirmation';
          } else {
            // Erreur - afficher un message d'erreur ou effectuer une autre action
            console.error('Erreur lors de l\'enregistrement des données');
          }
        })
        .catch(error => {
          console.error('Erreur lors de la requête fetch', error);
        });
    }


  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>



</body>

</html>